In [3]:
import pandas as pd
df = pd.read_csv('學生成績.csv')

df

In [4]:
df[["姓名","國文","英文"]]

     姓名   國文   英文
0   余丞苓   98   87
1   潘俊賢   63   97
2   賴昌韻   83   54
3   梁柏宇   50   63
4   謝哲維   82   99
5   周怡啟   80   76
6   馮芳如   71   82
7   王雅慧   63   67
8   馬彥文   99   80
9   潘俊賢   92   81
10  劉佳佩   77   76
11  潘英迪   59   67
12  張雅芬   90   75
13  陳凱翔   79   92
14  黃佩芬   71   60
15  陳得映   84   97
16  張凱妮   73  100
17  高智超   63   79
18  鞠冠宇   74   94
19  黃淑芬   66   79
20  張婕妤   90   56
21  蘇凡菁   51   62
22  賴苑禾   68   54
23  馮芳如   62   55
24  余宗儒   90   55
25  林思賢   91   67
26  謝南慧   90   59
27  王人仰   55   68
28  王展人  100   83
29  林佳蓉   61   51
30  孫火清   83   79
31  李佳彥   94   61
32  李彥伸   87   88
33  張軒宸   75   58
34  吳欣書  100   81
35  蔡嘉音   62   97
36  黃偉剛   81   88
37  林俊翔   81   51
38  錢欣潔   86   59
39  楊火帆   63   75
40  簡佳樺   65   81
41  黃奎紹   77   89
42  李佳彥   67   80
43  張彥博   77   63
44  林希啟   52   61
45  林向鈺   82   50
46  張天亨   92   80
47  洪阿惠   97   65
48  劉耿琦   57   59
49  賴又琦   74   89

In [5]:
#iloc[] -> 索引編號
# loc[] -? str的方式
df.iloc[0]

學號       1
姓名     余丞苓
國文      98
英文      87
數學      92
地理      71
歷史      83
總分     431
平均    86.2
Name: 0, dtype: object

In [6]:
df.iloc[[0,3,5]]

   學號   姓名  國文  英文  數學   地理  歷史   總分    平均
0   1  余丞苓  98  87  92   71  83  431  86.2
3   4  梁柏宇  50  63  61  100  96  370  74.0
5   6  周怡啟  80  76  71   64  57  348  69.6

In [9]:
df.iloc[0:6]

   學號   姓名  國文  英文  數學   地理  歷史   總分    平均
0   1  余丞苓  98  87  92   71  83  431  86.2
1   2  潘俊賢  63  97  66   96  80  402  80.4
2   3  賴昌韻  83  54  73   92  93  395  79.0
3   4  梁柏宇  50  63  61  100  96  370  74.0
4   5  謝哲維  82  99  67   61  82  391  78.2
5   6  周怡啟  80  76  71   64  57  348  69.6