In [2]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df["國文"]

0      98
1      63
2      83
3      50
4      82
5      80
6      71
7      63
8      99
9      92
10     77
11     59
12     90
13     79
14     71
15     84
16     73
17     63
18     74
19     66
20     90
21     51
22     68
23     62
24     90
25     91
26     90
27     55
28    100
29     61
30     83
31     94
32     87
33     75
34    100
35     62
36     81
37     81
38     86
39     63
40     65
41     77
42     67
43     77
44     52
45     82
46     92
47     97
48     57
49     74
Name: 國文, dtype: int64

In [4]:
df.iloc[2]

學號       3
姓名     賴昌韻
國文      83
英文      54
數學      73
地理      92
歷史      93
總分     395
平均    79.0
Name: 2, dtype: object

In [6]:
df[:3]

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  余丞苓  98  87  92  71  83  431  86.2
1   2  潘俊賢  63  97  66  96  80  402  80.4
2   3  賴昌韻  83  54  73  92  93  395  79.0