In [19]:
#使用Lis建立

import pandas as pd



s1 = pd.Series([4,7,-5,3])
print(s1)

0    4
1    7
2   -5
3    3
dtype: int64

In [20]:


s1.index

RangeIndex(start=0, stop=4, step=1)

In [21]:
s1.values

array([ 4,  7, -5,  3])

In [22]:
s2 = pd.Series([4,7,-5,3],index=["d","b","a","c"])
print(s2)

d    4
b    7
a   -5
c    3
dtype: int64

In [23]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [24]:
s2.values

array([ 4,  7, -5,  3])

In [25]:
display(s2)
print("===========")
display(s2["a"])
s2["a"]=5
display(s2)
display(s2[["c","b","d"]])

d    4
b    7
a   -5
c    3
dtype: int64

===========

-5

d    4
b    7
a    5
c    3
dtype: int64

c    3
b    7
d    4
dtype: int64

In [26]:
import numpy as np
display(s2)
print("===========")
s3 = s2*2
print(s2)
print(s3)
np.exp(s2)

d    4
b    7
a    5
c    3
dtype: int64

===========
d    4
b    7
a    5
c    3
dtype: int64
d     8
b    14
a    10
c     6
dtype: int64

d      54.598150
b    1096.633158
a     148.413159
c      20.085537
dtype: float64

In [27]:
"e" in s2 , "a" in s2

(False, True)

In [28]:
#disctionary建立Series
sdata = {"國文":78,"英文":86,"數學":96,"地理":64,"歷史":96}
s3 = pd.Series(sdata,index=["國文","數學","英文"])
s3

國文    78
數學    96
英文    86
dtype: int64

In [29]:
s4 = pd.Series(sdata,index=["國文","數學","探索"])
pd.isnull(s4)

國文    False
數學    False
探索     True
dtype: bool

In [30]:
#實體方法()
pd.notnull(s4)

國文     True
數學     True
探索    False
dtype: bool

In [33]:
#實體方法()
s4.isnull()

國文    False
數學    False
探索     True
dtype: bool

In [37]:
sdata ={"台北":35000,"桃園":71000,"台中":16000,"高雄":5000}
s5 = pd.Series(sdata)
display(s5)
print("==============")
sdata ={"桃園":35000,"台北":71000,"台中":16000,"高雄":5000}
s6 = pd.Series(sdata)
display(s6)
print("==============")
s6+s5

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

==============

桃園    35000
台北    71000
台中    16000
高雄     5000
dtype: int64

==============

台中     32000
台北    106000
桃園    106000
高雄     10000
dtype: int64

In [39]:
#NaN+任意數字 = NaN
s5
s5['台北'] = None
display(s5)
print("============")
display(s6)
print("==============")

s5 + s6

台北        NaN
桃園    71000.0
台中    16000.0
高雄     5000.0
dtype: float64

============

桃園    35000
台北    71000
台中    16000
高雄     5000
dtype: int64

==============

台中     32000.0
台北         NaN
桃園    106000.0
高雄     10000.0
dtype: float64

In [49]:
sdata ={"桃園":35000,"台北":71000,"台中":16000,"高雄":5000}
s7 = pd.Series(sdata)
s7

桃園    35000
台北    71000
台中    16000
高雄     5000
dtype: int64

In [52]:
#values只可以取出值
s7.values
s7.index=["a","b","c","d"]
s7

a    35000
b    71000
c    16000
d     5000
dtype: int64

In [56]:
#Series 可以有name
sdata ={"桃園":35000,"台北":71000,"台中":16000,"高雄":5000}
s8= pd.Series(sdata)
s8.name = "台灣4縣市"
s8
print("++++++++++++++++")

s8.index.name = "縣市"
display(s8)

++++++++++++++++

縣市
桃園    35000
台北    71000
台中    16000
高雄     5000
Name: 台灣4縣市, dtype: int64